/* basic styling */
* {
    width: 1;
    z-index: 1;
}

way {
    color: grey;
}
node {
    color: beige;
}

way[natural=water] {
    color: #aad3df;
    fill-color: #aad3df;
    z-index: 10;
}

way[type=waterway], way[waterway=river], way[waterway=canal], way[waterway=drain] {
    width: 10;
    color: #aad3df;
    fill-color: #aad3df;
    z-index: 100;
}

way[waterway=river] {
    width: 7;
}

way[waterway=canal] {
    width: 5;
}

way[waterway=drain] {
    width: 2;
}

way[highway] {
    z-index: 1000;
}

way[railway] {
    z-index: 10000;
}

way[aeroway=runway] {
    width: 10;
    color: #bbbbcc;
    fill-color: #bbbbcc;
}

/* most important road networks */
way[highway=motorway], way[highway=motorway_link] {
    color: #e892a2;
    width: 5;
}
way[highway=trunk], way[highway=trunk_link] {
    width: 5;
    color: #f9b29c;
}

way[highway=motorway_link], way[highway=trunk_link] {
    width: 3;
}

way[highway=primary] {
    color: #fcd6a4;
    width: 4;
}

way[highway=secondary] {
    color: #f7fabf;
    width: 3;
}

way[highway=residential] {
    color: #ffffff;
    fill-color: #e1e1e1;
    width: 2;
}

way[highway=service] {
    color: #fff;
}

way[highway=track] {
    z-index: 10;
    color: #ac8331;
}

way[power=line] {
    z-index: 10000;
    color: #8b8c8a;
}

way[railway=rail] {
    color: #1f1d1d;
}

node[amenity=drinking_water],
node[amenity=fountain]
{
    color: blue;
    width: 2;
}

way[amenity=parking] {
    color: #eeeeee;
    fill-color: #eeeeee;
}

way[building] {
    color: #d9d0c9;
    fill-color: #d9d0c9;
    z-index: 100;
}

way[amenity=school], way[amenity=university], way[amenity=research_institute] {
    color: #55551c;
    fill-color: #ffffe5;
}

way[power] {
    color: #cdb6c9;
    fill-color: #e2cbde;
    z-index: 1000;
}

way[leisure=park] {
    color: #c8facc;
    fill-color: #c8facc;
    z-index: 10;
}

way[natural=bay] {
    width: 0;
}

way[natural=wood], way[landuse=forest], way[landcover=trees] {
    color: #add19e;
    z-index: 100;
}

way[landuse=industrial] {
    color: #ebdbe8;
    fill-color: pink;
    z-index: 10;
}

way[fixme], node[fixme] {
    color: red;
}

/* TODO: Add a border around the bridge */
way[bridge] {
    z-index: 10000;
    color: black;
}